:root {
  --bg-color: #b9ebf5;
  --txt-color: rgb(23, 56, 63);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: var(--txt-color);
  margin: 0 auto;
}

.main {
  margin-top: 0%;
  position: relative;
  display: grid;
  margin-left: 10%;
  margin-right: 10%;
  z-index: 100;
  margin-top: 50px;
  max-width: 800px;
}

.title {

  font-size: 50px;
  float: left;
  font-weight: bolder;
  display: flex;
  margin-bottom: -1px;
}

.prayer {
  width: 100%;
  margin-top: 10px;
  text-align: center;
  color: var(--bg-color);
  -webkit-backdrop-filter: blur(40px);
  align-items: center;
  background-color: rgba(31, 32, 35, 0.3);
  border-bottom-color: rgb(229, 231, 235);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-style: solid;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(229, 231, 235);
  border-left-style: solid;
  border-left-width: 0px;
  border-right-color: rgb(229, 231, 235);
  border-right-style: solid;
  border-right-width: 0px;
  border-top-color: rgb(229, 231, 235);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-top-style: solid;
  border-top-width: 0px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.child {
  vertical-align: middle;
  float: left;
  padding-left: 7%;
  padding-bottom: 15px;
  padding-top: 15px;
}

.child2 {
  vertical-align: middle;
  float: right;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-right: 7%;
}

.sun {
  z-index: 1;
  transition: transform 1ms;
  position: absolute;
  margin-left: -200px;
  margin-top: -150px;
}

#cloud {
  z-index: 1;
  transition: transform 1ms;
  position: absolute;
  left: 300px;
  top: -20px;
}

#cloud2 {
  z-index: 1;
  transition: transform 1ms;
  position: absolute;
  left: 310px;
  top: -17px;
}

.logo {
  float: right;
  left: 85%;
  position: absolute;
  top: 7%;
}