:root {
  --bg-color: rgb(185, 235, 245);
  --txt-color: rgb(23, 56, 63);
}

body {
  background-color: var(--bg-color);
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: var(--txt-color);
  margin: 0 auto;
  position: relative;
}

.main {
  display: grid;
  margin-left: 10%;
  margin-right: 10%;
  z-index: 1;
}

.title{
  font-size: 400%;
  display: flex;
  justify-content: center;
}

.prayer {
  background-color: rgb(23, 56, 63);
  border-radius: 20px;
  width: 100%;
  margin-top: 10px;
  text-align: center;
  font-size: larger;
  color: var(--bg-color);
  z-index: 1;
}

.child {
  display: inline-block;
  vertical-align: middle;
  float: left;
  padding-left: 7%;
  z-index: 1;
}

.child2 {
  display: inline-block;
  vertical-align: middle;
  float: right;
  padding-top: 1%;
  padding-right: 7%;
  z-index: 1;
}

.sun {
  z-index: -1;
  transition: transform 1ms;
  position: relative;
}