:root {
  --bg-color: #b9ebf5;
  --txt-color: rgb(23, 56, 63);
}

body {
  background-image: url(./bg.svg);
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: var(--txt-color);
  margin: 0 auto;
}

.main {
  margin-top: 0%;
  position: relative;
  display: grid;
  margin-left: 10%;
  margin-right: 10%;
  z-index: 100;
}

.title {

  font-size: 50px;
  float: left;
  font-weight: bolder;
  display: flex;
  margin-bottom: -1px;
}

.prayer {

  background-color: rgb(23, 56, 63);
  border-radius: 20px;
  width: 100%;
  margin-top: 10px;
  text-align: center;
  color: var(--bg-color);
}

.child {

  display: inline-block;
  vertical-align: middle;
  float: left;
  padding-left: 7%;
}

.child2 {

  display: inline-block;
  vertical-align: middle;
  float: right;
  padding-top: 5px;
  padding-right: 7%;
}

.sun {
  z-index: 1;
  transition: transform 1ms;
  position: absolute;
  margin-left: -200px;
  margin-top: -150px;
}

#cloud {
  z-index: 1;
  transition: transform 1ms;
  position: absolute;
  left: 300px;
  top: -20px;
}

#cloud2 {
  z-index: 1;
  transition: transform 1ms;
  position: absolute;
  left: 310px;
  top: -17px;
}

.logo {
  float: right;
  left: 85%;
  position: absolute;
  top: 7%;
}